html {
  font: 100%/1.75 "Merriweather", "Georgia", serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-color: #260033;
  color: gainsboro;
  margin: 0;
  padding: 0;
}

a {
  color: #00b3b3;
  text-decoration: none;
}

h1 > a {
  color: gainsboro;
}
