body {
  background-color: #260033;
  color: gainsboro;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

small {
  color: #ff3399;
}

a {
  color: #00b3b3;
  text-decoration: none;
}

h1 {
  font-size: 200%;
  margin-bottom: rhythm(1.5);
  margin-top: 0;
}

h1 > a {
  color: gainsboro;
}
