body {
  background-color: #260033;
  color: gainsboro;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 16px;
}

small {
  color: #ff3399;
}

a {
  color: #00b3b3;
  text-decoration: none;
}

h1 {
  font-size: 200%;
  margin-bottom: rhythm(1.5);
  margin-top: 0;
}

h1 > a {
  color: white;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #__next {
    margin: 4rem 25% 0 25%;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
